.all-schedules-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.schedule-btn {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 9px;
  font-size: 1em;
  background-color: #f7f5dd;
  color: #006b69;
  font-weight: 600;
  border-radius: 8px;
}
